<div fxLayout="column" fxLayoutAlign="center center">
  <div  fxLayout="column" fxLayoutAlign="center center">
    <div class="total">PERIOD TOTAL</div>
    <div class="value">{{stats.period_total}}</div>
  </div>
  <div  fxLayout="column" fxLayoutAlign="center center">
    <div class="total">YESTERDAY TOTAL</div>
    <div class="value">{{stats.yesterday_total}}</div>
  </div>
  <div  fxLayout="column" fxLayoutAlign="center center">
    <div class="total">DAILY AVERAGE</div>
    <div class="value">{{stats.daily_average}}</div>
  </div>
</div>
