<div fxLayout="column" fxLayoutAlign="center center">
  <div  fxLayout="column" fxLayoutAlign="center center">
    <div class="total">Period Total</div>
    <div class="value">{{stats.period_total}}</div>
  </div>
  <div  fxLayout="column" fxLayoutAlign="center center">
    <div class="total">Yesterday Total</div>
    <div class="value">{{stats.yesterday_total}}</div>
  </div>
  <div  fxLayout="column" fxLayoutAlign="center center">
    <div class="total">Daily Average</div>
    <div class="value">{{stats.daily_average}}</div>
  </div>
</div>
