<mat-card [ngClass]="{'chart-card': type==='chart'}">
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-actions *ngIf="!loading">
    <button mat-button (click)="view='presentation'">View</button>
    <button mat-button (click)="view='data'">Data</button>
    <div fxFlex></div>
    <button mat-button (click)="download()">
      <mat-icon>cloud_download</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-content *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </mat-card-content>
  <mat-card-content *ngIf="!loading">
    <div *ngIf="view==='presentation'">
      <app-map *ngIf="type==='map'" [data]="data"></app-map>
      <app-linked-stat *ngIf="type==='linkedStats'" [stats]="data"></app-linked-stat>
      <app-stat *ngIf="type==='stats'" [stats]="data"></app-stat>
      <app-chart *ngIf="type==='chart'" [chartData]="data"></app-chart>
    </div>
    <div *ngIf="view==='data'">
      <app-data-view-table [data]="data.data" [displayedColumns]="displayedColumns"></app-data-view-table>
    </div>
  </mat-card-content>
</mat-card>
